- content_for :turbolink_full_reload do
  %meta{:name => 'turbolinks-visit-control', :content => 'reload'}

.container.content-holder
  .row
    .col.s12
      .row
        .col.s12
          %h5.margin-top-0
            Configure Event Receivers

      %ul.collapsible
        - GoogleCalendar.all.each do |google_cal|
          %li
            .collapsible-header
              %i.material-icons
                today
              = google_cal.name

            .collapsible-body
              %div.configs{'data-configs-container-id' => google_cal.id}
                .row.existing-configs-holder
                  .col.s12
                    %table
                      %tbody
                        - google_cal.outbound_event_configs.each do |config|
                          %tr{'data-config-id': config.id}
                            %td{'data-config-receiver-id': config.receiver_id}
                              = config.receiver.email
                              = link_to 'Delete', outbound_event_config_path(config), method: :delete, 
                                class: 'btn-small red right', remote: true, data: { confirm: "Are you sure?" }

                = form_with model: @outbound_event_configs_form, scope: :outbound_event_configs_form do |f|
                  = f.hidden_field :google_calendar_id, value: google_cal.id

                  .row.new-configs-holder
                    .col.s12

                  .row.actions       
                    .col.s12
                      = f.submit 'Save', class: 'btn-small disabled'
                      %btn.btn-small.add-btn{:id => "add_btn_#{google_cal.id}"}
                        Add

= javascript_pack_tag 'outbound_event_config_form', 'data-turbolinks-track': 'reload'
  
