%nav
  .container
    .nav-wrapper
      = link_to 'cm', root_path, class: 'brand-logo'
      %ul.right.hide-on-med-and-down#nav-mobile
        %li
          = link_to 'Events', events_path
        %li
          = link_to 'Settings', new_google_calendar_config_path
        %li
          = link_to 'Configure', new_outbound_event_config_path
        %li
          = link_to 'Calendars', google_calendars_path
        %li
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Login', new_user_session_path
