
.container.content-holder
  .row
    .col.s12
      %h5.margin-top-0
        Events

      = month_calendar events: @presented_events do |date, presented_events|
        = date.day
        - presented_events.each do |presented_event| 
          %div
            = link_to presented_event, 
              remote: true, 
              method: :delete, 
              data: { confirm: 'Are you sure?' } do
              %i.tiny.material-icons
                cancel

            = link_to presented_event.title, edit_event_path(presented_event.id)
            %span
              = "#{presented_event.event_start_time} - #{presented_event.event_end_time}"
