
.container.content-holder
  .row
    .col.s8
      %h5.margin-top-0
        Events
    .col.s4
      = link_to 'Add Event', new_event_registration_path, class: 'btn-small right'

    .col.s12
      = month_calendar events: @presented_events, attribute: :start_time, end_attribute: :end_time do |date, presented_events|
        = date.day
        - presented_events.each do |presented_event| 
          %div
            = link_to presented_event, 
              method: :delete, 
              data: { confirm: 'Are you sure?' } do
              %i.tiny.material-icons
                cancel

            = link_to presented_event.title, edit_event_path(presented_event.id)
            %span
              = "#{presented_event.event_start_time} - #{presented_event.event_end_time}"
