.container.content-holder
  .row
    .col.s12
      %h5.margin-top-0
        Events

      %table
        %thead
          %tr
            %th Title
            %th Start Time
            %th End Time
            %th Actions

        %tbody
          - @presented_events.each do |presented_event|
            %tr
              %td= presented_event.title
              %td= presented_event.start_time
              %td= presented_event.end_time
              %td 
                = link_to 'delete'
                |
                = link_to 'update', edit_event_path(presented_event.id)
