- content_for :turbolink_full_reload do
  %meta{:name => 'turbolinks-visit-control', :content => 'reload'}

.container.content-holder
  .row
    .col.s12
      .row
        %h5.margin-top-0
          Outbound Event Settings

      - GoogleCalendar.all.each do |google_cal|
        %div.configs{'data-configs-container-id' => google_cal.id}
          %h6= google_cal.name
          - @outbound_event_config_form.configs_for(google_calendar: google_cal).each do |config|
            .row{'data-id': config.receiver.id}
              = config.receiver.email
          .row
            = form_with model: @outbound_event_config_form do |f|
              = f.hidden_field :google_calendar_id, value: google_cal.id
              -#
                - f.object.receiver_ids.each_index do |idx|
                  .row
                    = collection_select('', '', User.all, :id, :email, {include_blank: 'Select a receiver', selected: f.object.receiver_ids[idx]}, { name: 'outbound_event_config[receiver_ids][]', id: "outbound_event_config_form_#{google_cal.id}_receiver_id_#{idx}"})

              .row
                = f.submit 'Save', class: 'btn-small'
                %btn.btn-small.add-btn{:id => "add_btn_#{google_cal.id}"}
                  Add

= javascript_pack_tag 'outbound_event_config_form', 'data-turbolinks-track': 'reload'
  
