.container.content-holder
  .row
    .col.s6.offset-s3
      .card-panel
        %h5 Log in
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .row
            .input-field.col.s12
              = f.email_field :email
              = f.label :email

          .row
            .input-field.col.s12
              = f.password_field :password
              = f.label :password

          .row
            .col.s12
              %button.btn{type: 'submit'}
                Login
                %i.material-icons.right
                  send

          .row
            .col.s12
              = render "devise/shared/links"
